@charset "UTF-8";
/*-------base styles--------*/
:root {
  --black: #222;
  --green: #45d02a;
  --sky-blue: #01b6ff;
  --gold: #ffc300;
  --font-family: "Montserrat", sans-serif;
  --second-family: "Roboto Flex", sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: #000;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 1280px) {
  [class*=__container] {
    max-width: 1020px;
  }
}
@media (max-width: 1110px) {
  [class*=__container] {
    max-width: 960px;
  }
}
@media (max-width: 990px) {
  [class*=__container] {
    padding: 0 40px;
    max-width: 100%;
  }
}
@media (max-width: 570px) {
  [class*=__container] {
    padding: 0px 20px;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Стилі для навігаційної панелі */
.navbar {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Вирівнює елементи по центру */
  padding: 10px 20px;
}

/* Стилі для контейнера меню */
.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Стилі для посилань у меню */
.menu li {
  margin-right: 20px; /* Відстань між пунктами меню */
}

.menu a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Стилі для кнопки запису */
.signup-button .btn {
  background: linear-gradient(to right, green, blue);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block; /* Змінюємо з flex на inline-block */
}

.signup-button .btn:hover {
  background: linear-gradient(to right, darkgreen, darkblue);
}

/*------pages-----------*/
.full-width-image {
  position: relative;
  display: inline-block;
}

.background {
  display: block;
  width: 100%; /* Або фіксована ширина */
}

.overlay {
  position: absolute;
  top: 50%; /* Відцентрування */
  left: 50%;
  transform: translate(-50%, -50%); /* Щоб зображення було рівно в центрі */
  width: 50%; /* Налаштуй розмір */
}