header {
  padding-top: 25px;
  .header__content {
    justify-content: space-between;
    align-items: center;
    display: flex;

    .header__logo {
      width: 170px;
      height: 70px;
    }

    .header__menu {
      display: flex;
      gap: 30px;
      .menu__link {
        color: var(--black);
      }
    }

    .header__button {
      padding: 15px;
      background: linear-gradient(to right, var(--green), var(--sky-blue));
      border-radius: 15px;
      color: #fff;
    }
  }
}
