.full-width-image {
    position: relative;
    display: inline-block;
}

.background {
    display: block;
    width: 100%; /* Або фіксована ширина */
}

.overlay {
    position: absolute;
    top: 50%; /* Відцентрування */
    left: 50%;
    transform: translate(-50%, -50%); /* Щоб зображення було рівно в центрі */
    width: 50%; /* Налаштуй розмір */
}